.green {
    border: solid green 5px;
    background-color: white;
    display:inline;
    padding: 5px;
}

.yellow {
    border: solid  yellow 5px;
    background-color: white;
    display:inline;
    padding: 5px;

}

.red {
    border: solid  red 5px;
    background-color: white;
    display:inline;
    padding: 5px;

}

.ticket{
    background-color: #E8A87C;
    display:inline-block;
    padding: 100px;
    border-radius: 20px;
}